[submodule "auth-service"]
	path = services/auth-service
	url = https://github.com/oseiasal/auth-service
[submodule "targeting-service"]
	path = services/targeting-service
	url = https://github.com/oseiasal/targeting-service
[submodule "analytics-service"]
	path = services/analytics-service
	url = https://github.com/oseiasal/analytics-service
[submodule "flag-service"]
	path = services/flag-service
	url = https://github.com/oseiasal/flag-service
[submodule "evaluation-service"]
	path = services/evaluation-service
	url = https://github.com/oseiasal/evaluation-service
